{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            Capital Plus
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/planBlogo.jpg' %}" width="250" height="200">
        </a>
        <div class="btn-nav-group">
            <button class="btn-nav">Стратегия</button>
            <button class="btn-nav">Преимущества</button>
            <button class="btn-nav">О нас</button>
            <button class="btn-nav">Личный кабинет</button>
        </div>

    </nav>
    <div class="content">
        {% block content %}
            There is no any content for you
        {% endblock %}
    </div>
    <nav class="botbar">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logoDark.jpg' %}" width="125" height="100">
        </a>
    </nav>

</body>
</html>